!!!
%html
  %head
    %meta{:charset => "UTF-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= full_title(yield(:title))
    %meta{:content => content_for?(:description) ? yield(:description) : "Proman 2014", :name => "description"}
    %meta{name: "author", content: "Dr Chris P. Jobling"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render 'layouts/shim'
    = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    .navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          = render 'layouts/nav_collapse'
          = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        .content
          .row
            .span12
              %h2= yield(:title)
              = render 'layouts/messages'
              = yield
        %footer
          = render 'layouts/footer'
      / ! end of .container
    / ! end of #main
